/* General */
body{
	margin: 0 auto;
	width: 1200px;
}
*{
	font-family: Roboto;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: #77e04c;
	margin: 0;
} 

/*  Menu */
nav li {
    display: inline;
    margin: 5px 15px 0;
    padding-left: 15px;
    border-left: 2px solid #2b6a90;
}

/* Titulos */
h1{
    font-size: 48px;
}
h2{
	font-size: 34px;
}
h3{
	font-size: 20px;
}
h4{
	font-size: 16px;
}
h5{
	font-size: 14px;
}
h6{
	font-size: 12px;
}


/* Listas */
ol li{
	margin:10px;
}

/* Formulario */
form label{
	margin: 15px 0 0 0;
	padding: 10px;
	display: block;
}
form input, form textarea{
	border-radius: 5px;
	border: none;
	height: 25px;
	background: #f2f2f2;
}

/* Botones, selección */
section button,  section select{
	background: transparent;
	border-radius: 5px;
	padding:  5px 15px;
	border: 2px solid #2b6a90;
	margin: 15px;
	display: block;
}
section label{
	margin: 15px;
	display: block;
}


/* Párrafos */
mark{
	background-color: #2b6a90;
}
p a{
	display: inline;
}


/* Tablas */
table,tr,td {
    border: 1px solid #2b6a90;
	border-collapse: collapse;
}
table th, table td{
	padding: 10px;
}





